.how{
    width:100%;
    padding:110px 0;
    background:var(--bg-color);
    transition: .35s ease;
}

.how-container{
    width:85%;
    max-width:1400px;
    margin:auto;
}

.how-container h2{
    text-align:center;
    font-size:40px;
    font-weight:700;
    color:var(--heading);
    transition: .35s ease;
}

.how-line{
    width:110px;
    height:6px;
    background:var(--primary);
    border-radius:20px;
    margin:18px auto 90px;
}

/* ---------- ROW ---------- */

.how-row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:90px;
    margin-bottom:90px;
    border-radius: 30px;
    transition: .35s ease;
    padding: 25px;
    
}

.how-row:hover{
    background: rgba(47,102,246,.05);
}

.dark .how-row:hover{
    background: rgba(255,255,255,.05);
}

.reverse{
    flex-direction:row-reverse;
}

/* ---------- TEXT ---------- */

.how-text{
    width:486px;
}

.how-text h3{
    font-size:40px;
    font-weight:700;
    color:var(--heading);
    transition:.35s ease;
    margin-bottom:18px;
}

.how-text p{
    font-size:24px;
    line-height:1.7;
    color:var(--text);
    transition:.35s ease;
}

/* ---------- IMAGES ---------- */

.how-row img{
    object-fit:contain;
    flex-shrink:0;
    transition: .4s ease;
}

.how-row img:hover{
    transform:scale(1.05) rotate(-3deg);
    filter: drop-shadow(0 20px 35px rgba(47,102,246,.25));
}

/* Create */

.create-img{
    width:516px;
    height:484px;
    animation:float 5s ease-in-out infinite;
}

/* Share */

.share-img{
    width:430px;
    height:250px;
    animation:float 5s ease-in-out infinite;
}

/* Play */

.play-img{
    width:613px;
    height:474px;
    animation:float 5s ease-in-out infinite;
}

@keyframes float{

0%{
transform:translateY(0);
}
50%{
transform:translateY(-12px);
}
100%{
transform:translateY(0);
}

}

/* ---------- Tablet ---------- */

@media (max-width:992px){

.how-row{
    gap:50px;
}

.create-img{
    width:380px;
    height:auto;
}

.share-img{
    width:320px;
    height:auto;
}

.play-img{
    width:420px;
    height:auto;
}

.how-text{
    width:420px;
}

.how-text h3{
    font-size:32px;
}

.how-text p{
    font-size:18px;
}

}

/* ---------- Mobile ---------- */

@media(max-width:768px){

.how{
    padding:70px 0;
}

.how-container h2{
    font-size:30px;
}

.how-line{
    margin-bottom:60px;
}

.how-row,
.reverse{
    flex-direction:column;
    text-align:center;
    gap:35px;
    margin-bottom:70px;
}

.how-text{
    width:100%;
}

.create-img,
.share-img,
.play-img{
    width:90%;
    max-width:420px;
    height:auto;
}

.how-text h3{
    font-size:28px;
}

.how-text p{
    font-size:17px;
}

}