.games{
    padding:90px 0;
    background:var(--bg-color);
    transition: .35s ease;
}

.games-container{
    width:90%;
    max-width:1400px;
    margin:auto;
    text-align:center;
}

.games-container h2{
    font-size:42px;
    font-weight:700;
    color:var(--heading);
    transition: .35s ease;
}

.games-line{
    width:120px;
    height:6px;
    background:#2F66F6;
    margin:15px auto 60px;
    border-radius:10px;
}

.gamesSwiper{
    padding-bottom:70px;
}

.gamesSwiper .swiper-slide{
    width:635px;
}

.gamesSwiper img{
    width:100%;
    display:block;
    border-radius:32px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition: .4s ease;
}

.gamesSwiper img:hover{
    transform:translateY(-10px) scale(1.05);
    box-shadow:0 20px 45px rgba(47,102,246,.20);
}

.swiper-pagination-bullet{
    width:12px;
    height:12px;
    background:#ddd;
    opacity:1;
}

.swiper-pagination-bullet-active{
    background:var(--primary);
    width: 28px;
    border-radius: 20px;
}

.game-code h3{
    margin-top:80px;
    font-size:42px;
    font-weight:700;
    color:var(--heading);
    transition: .35s ease;
}

.game-code p{
    margin-top:15px;
    font-size:22px;
    color:var(--text);
    transition: .35s ease;
}

.dark .gamesSwiper img{
    box-shadow:0 20px 45px rgba(0,0,0,.45);
}

.dark .swiper-pagination-bullet{
    background:#666;
}

.dark .swiper-pagination-bullet-active{
    background:#5C8DFF;
}

.dark .game-code h3{
    color:var(--heading);
}

.dark .game-code p{
    color:var(--text);
}

@media (max-width:768px){

.gamesSwiper .swiper-slide{
    width:90%;
}

.games-container h2,
.game-code h3{
    font-size:30px;
}

.game-code p{
    font-size:18px;
}

}