:root{
    --bg-color:#ffffff;
    --section-bg:#ffffff;
    --primary:#2F66F6;
    --secondary:#35B5FF;
    --heading:#2F281E;
    --text:#666666;
    --card-bg:#ffffff;
    --nav-bg:#ffffff;
}

.dark{
  --bg-color:#121212;
  --section-bg:#1b1b1b;
  --primary:#5C8DFF;
  --secondary:#35B5FF;
  --heading:#ffffff;
  --text:#d1d5db;
  --card-bg:#242424;
  --nav-bg:#1b1b1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--white);
  color: #222;
} */

html,
body,
#root{
    width:100%;
    max-width:100%;
    overflow-x:hidden;
    scroll-behavior:smooth;
}

body{
    background:var(--bg-color);
    color:var(--heading);
    font-family:"Poppins",sans-serif;
}

.App{
    width:100%;
    max-width:100%;
    overflow-x:hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  cursor: pointer;
}